<footer class="">
    <p class="text-center pt-4">
        ©2020 · Made with
        <mat-icon class="favorite-icon">favorite</mat-icon>
        <mat-icon class="smile-icon">sentiment_very_satisfied</mat-icon>
        by Matheus B. Santos from Simple Piece.</p>
    <div class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/matheus-barbosa-933a73144/">
                <fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/MatheusBarbosa3">
                <fa-icon class="fa-2x" [icon]="faGithub"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/matheus.bsantos/?hl=pt-br">
                <fa-icon class="fa-2x" [icon]="faInstagram"></fa-icon>
            </a>
        </li>
    </div>
</footer>