<div class="mars"></div>
<img src="https://mars-404.templateku.co/img/404.svg" class="logo-404" />
<img src="https://mars-404.templateku.co/img/meteor.svg" class="meteor" />
<p class="title">Oh não!!</p>
<p class="subtitle">
    Você está digitando incorretamente o URL <br /> ou solicitando uma página que não está mais aqui.
</p>
<div align="center">
    <a class="btn-back" href="#">Voltar para a página inicial</a>
</div>
<img src="https://mars-404.templateku.co/img/astronaut.svg" class="astronaut" />
<img src="https://mars-404.templateku.co/img/spaceship.svg" class="spaceship" />