.example-card {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form {
  padding-top: 20px;
  text-align: center;
}

.field-full-width {
  width: 400px;
}

.mat-label {
  color: white !important;
}

.escolha {
  margin: 0 auto;
  margin-top: 10px;
}

.btn-voltar {
  margin-bottom: 20px;
  margin: 0 auto;
}

.row {
  margin: 0 auto;
}
.btn-back2{
margin: 0 auto;
}
